table,th,td{
	border: 2px solid green;
}

table{
	margin: 15px;
	width: 100%;
	border-collapse: collapse;
}

td:last-child {
	text-align: right;
}
.lista{
	padding-left: 25px;
}
#corpo{
	width: 90%;
	margin: auto;
}
h1 img{
	height: 60px;
}
td img, td:first-child{
	width: 120px;
}

.videopainel{
	margin: auto;
	padding: 50px;
	width: 423px;
	height: 307px;
	background-color: #666;
	border-radius: 2em;
}
